* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li, a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

header {
  background-image: url(/img/background.svg);
  background-size: cover;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 768px;
  align-items: center;
  color: #FFF;
}
.nav .img {
  padding-left: 93px;
  margin-top: -650px;
}
.nav__list {
  list-style: none;
  margin-top: -630px;
  display: flex;
}
.nav__item {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 60px;
}
.nav__sing {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 220px;
  padding-right: 35px;
}
.nav .btn {
  width: 100px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -15px;
  border: none;
  margin-right: 93px;
}

.text {
  margin-top: -556px;
  padding-left: 93px;
}
.text__h3 {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text__h2 {
  color: #FFF;
  font-family: Clicker Script;
  font-size: 220px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text__p {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
}
.text__btn {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 134px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  border: none;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  margin-top: 20px;
  margin-bottom: 95px;
  border: none;
}

.discover {
  width: 1180px;
  height: 484px;
  flex-shrink: 0;
  margin-top: 83px;
  margin-left: 93px;
  display: flex;
}
.discover__text {
  width: 585px;
  height: 400px;
  flex-shrink: 0;
  padding-top: 20px;
}
.discover__h2 {
  color: #603809;
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.discover__p {
  width: 585px;
  color: #707070;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
  margin-top: 29px;
}
.discover__btn {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 134px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  border: none;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  margin-top: 29px;
}
.discover__img {
  margin-left: 136px;
}

.style {
  margin-top: 100px;
  width: 1180px;
  height: 542px;
  flex-shrink: 0;
  margin-left: 93px;
}
.style__h2 {
  color: #603809;
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 193px;
}
.style__p {
  width: 980px;
  margin-top: 16px;
  color: #707070;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
  padding-left: 210px;
}
.style__list {
  display: flex;
  margin-top: 32px;
}
.style__item {
  width: 280px;
  height: 364px;
  flex-shrink: 0;
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  margin-left: 20px;
}
.style__h3 {
  color: #603809;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 13px;
}
.style__c {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 8px;
}
.style__d {
  color: #603809;
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 6px;
}
.style__btn {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 134px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  border: none;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  margin-left: 73px;
  margin-top: 18px;
}

.diffrent {
  width: 1180px;
  height: 612px;
  flex-shrink: 0;
  margin-left: 93px;
  margin-top: 83px;
}
.diffrent__h2 {
  color: #603809;
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.diffrent__p {
  width: 980px;
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* 170% */
  padding-left: 200px;
}
.diffrent__list {
  display: flex;
  margin-top: 32px;
}
.diffrent__item {
  width: 280px;
  height: 284px;
  flex-shrink: 0;
  margin-left: 20px;
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
}
.diffrent__item1 {
  width: 280px;
  height: 284px;
  flex-shrink: 0;
  margin-left: 20px;
  background: #FFEED8;
}
.diffrent__img {
  padding-left: 100px;
  padding-top: 36px;
}
.diffrent__h3 {
  padding-top: 25px;
  text-align: center;
  color: #603809;
  font-family: Playfair Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.diffrent__m {
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 8px;
}
.diffrent__c {
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 32px;
}
.diffrent__h4 {
  color: #603809;
  font-family: Playfair Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 5px;
}
.diffrent__btn {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 134px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  border: none;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  margin-left: 523px;
  margin-top: 23px;
}

.cup {
  background: url(/img/Rectangle\ 14.png), lightgray 50%/cover no-repeat;
  width: 1366px;
  height: 574px;
  flex-shrink: 0;
}
.cup__h2 {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 135px;
  padding-left: 93px;
}
.cup__p {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* 170% */
  padding-top: 22px;
  padding-left: 97px;
}
.cup__btn {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 134px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  border: none;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  margin-top: 22px;
  margin-left: 93px;
}

.manager {
  width: 1062px;
  height: 747px;
  flex-shrink: 0;
  margin-left: 180px;
  margin-top: 83px;
}
.manager__h2 {
  color: #603809;
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.manager__p {
  width: 980px;
  text-align: center;
  padding-left: 100px;
  padding-top: 16px;
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* 170% */
}
.manager__text {
  width: 980px;
  height: 524px;
  flex-shrink: 0;
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  margin-top: 45px;
  margin-left: 41px;
}
.manager__w {
  padding-left: 27px;
  margin-top: 54px;
}
.manager__m {
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 200% */
}
.manager__h3 {
  color: #603809;
  font-family: Playfair Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 25px;
}
.manager__c {
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* 170% */
  padding-top: 4px;
}
.manager__span {
  margin-left: 434px;
}

.media {
  background: url(/img/Rectangle\ 14\ \(1\).svg), rgba(164, 71, 9, 0.366) 50%/cover no-repeat;
  background-blend-mode: overlay;
  width: 1366px;
  height: 374px;
  flex-shrink: 0;
  padding-top: 80px;
}
.media__n {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: normal;
}
.media__p {
  color: #FFF;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* 170% */
  width: 980px;
  padding-left: 360px;
}
.media__email {
  text-align: center;
  margin-top: 56px;
}
.media__inp {
  width: 642px;
  height: 66px;
  border-radius: 4px;
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.34);
  padding-left: 26px;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* 170% */
}
.media__btn {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 134px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  border: none;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
}/*# sourceMappingURL=main.css.map */